.update {
	background-position: 0px -143px; text-align: right; padding-left: 18px; font-weight: bold; margin-top: 3px; float: right;
}
.updt_loading {
	background: url("../images/loading_feed_1.01.gif") no-repeat 0px 0px; width: 14px; height: 16px; vertical-align: -5px; display: inline-block;
}
.updt_loading {
	background: url("../images/loading_feed_1.01.gif") no-repeat 0px 0px; width: 14px; height: 16px; margin-right: 3px; vertical-align: -5px; display: inline-block;
}
.bookmarkfeed_view {
	line-height: 17px; margin-top: 3px; margin-right: 10px; float: right;
}
.bookmarkfeed_view a {
	margin-right: 7px;
}
.feedtab {
	overflow: hidden; display: block; position: relative;
}
.feedtab a {
	width: auto; height: 20px; text-align: center; overflow: hidden; font-weight: bold; text-decoration: none; margin-right: 5px; display: inline-block;
}
.feedtab a:hover {
	color: rgb(241, 242, 243);
}
.feedtab a.acti {
	background: rgb(117, 189, 229); color: rgb(255, 255, 255); border-bottom-color: rgb(66, 154, 202); border-bottom-width: 1px; border-bottom-style: solid;
}
.feedtab a.unacti {
	background: rgb(233, 233, 233); color: rgb(85, 85, 85); border-bottom-color: rgb(198, 198, 198); border-bottom-width: 1px; border-bottom-style: solid;
}
.shortfed.feedtpl {
	padding: 8px 0px 0px 58px; margin-top: 15px; border-top-color: rgb(234, 239, 244) !important; border-top-width: 1px !important; border-top-style: solid !important; display: block; _display: inline-block;
}
.pf_smoreline {
	margin-top: 10px; border-top-color: rgb(234, 239, 244); border-top-width: 1px; border-top-style: solid; display: block;
}
.linetoprofile {
	background: rgb(234, 239, 244); height: 1px;
}
.feedtpl h3 {
	color: rgb(190, 190, 190); line-height: 16px; font-size: 10px; font-weight: bold; margin-bottom: 3px;
}
a.closefed {
	width: 18px; height: 16px; text-indent: -9999em; float: right; display: block;
}
.rowcomment a.closefed {
	width: 18px; height: 16px; text-indent: -9999em; float: right; display: block;
}
a.active.closefed {
	background-position: -52px -143px;
}
.rowcomment a.active.closefed {
	background-position: -52px -143px;
}
a.active.closefed:hover {
	background-position: -72px -143px;
}
.rowcomment a.active.closefed:hover {
	background-position: -72px -143px;
}
.topdot {
	height: 1px; overflow: hidden; border-right-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block;
}
.feed_tab {
	height: 21px; display: block;
}
.feed_tab a {
	height: 20px; text-align: center; overflow: hidden; font-weight: bold; text-decoration: none; margin-right: 5px; display: inline-block;
}
.feed_tab a:hover {
	color: rgb(241, 242, 243);
}
.feed_tab a.acti {
	background: rgb(117, 189, 229); color: rgb(255, 255, 255); border-bottom-color: rgb(66, 154, 202); border-bottom-width: 1px; border-bottom-style: solid;
}
.feed_tab a.unacti {
	background: rgb(233, 233, 233); color: rgb(85, 85, 85); border-bottom-color: rgb(198, 198, 198); border-bottom-width: 1px; border-bottom-style: solid;
}
.feedtpl {
	padding-top: 15px; margin-top: 17px; border-top-color: rgb(234, 239, 244); border-top-width: 1px; border-top-style: solid; display: block; position: relative; _display: inline-block;
}
.pf_profile.feedtpl {
	padding-left: 38px; margin-left: -38px; border-image: url(../images/timeline_pf.gif) 25% norepeat;
}
.imgtimeline {
	background-position: -101px -48px; left: 0px; top: -7px; width: 40px; height: 14px; position: absolute; z-index: 9;
}
.timeline_feed {
	background: url("../images/timeline_bar.gif") no-repeat 0px 0px; left: 0px; top: -10px; height: 19px; color: rgb(255, 255, 255); line-height: 18px; padding-left: 30px; font-size: 11px; float: left; display: block; position: absolute;
}
.timeline_feed .ltimgtimeline {
	background: url("../images/timeline_bar.gif") no-repeat right -20px; width: 11px; height: 19px; float: left; display: block;
}
.imgsprtfeed {
	background-image: url("../images/imgsprt_feed_1.06.png"); background-repeat: no-repeat;
}
.mediaitemrt i {
	background-image: url("../images/imgsprt_feed_1.06.png"); background-repeat: no-repeat;
}
.icophotofed {
	background-image: url("../images/imgsprt_feed_1.06.png"); background-repeat: no-repeat;
}
.bgicophotogif {
	background-image: url("../images/imgsprt_feed_1.06.png"); background-repeat: no-repeat;
}
:first-child.feedtpl {
	padding-top: 15px; margin-top: 0px; border-top-color: currentColor; border-top-width: medium; border-top-style: none; display: block; _display: inline-block;
}
.feedlt {
	width: 50px; float: left;
}
.frbox.feedlt {
	width: 120px; height: 120px;
}
.feedlt a {
	display: block;
}
.feedrt {
	margin-left: 58px;
}
.frbox.feedrt {
	margin-left: 130px;
}
.gift_grp {
	padding-top: 5px; display: block;
}
.messagert {
	margin: 0px 58px 5px 0px; overflow: hidden; font-size: 12px; word-wrap: break-word; min-height: 20px;
}
.messagert a.nameuserfed {
	margin-right: 5px; white-space: nowrap;
}
.messagert img {
	vertical-align: -6px;
}
.messagert .addfrbtn {
	float: left;
}
.messagert .rowminipro {
	font-size: 11px; margin-top: 2px;
}
.attachrt {
	margin: 2px 0px 5px; overflow: hidden;
}
.applink.attachrt {
	background: rgb(247, 252, 255); margin: 5px 58px 8px 0px; padding: 8px; border: 1px solid rgb(224, 237, 245); display: block; max-height: 145px; _display: inline-block;
}
.fullmedia.applink.attachrt {
	max-height: none;
}
.infophofeedrt {
	margin: 2px 58px 5px 0px; color: rgb(128, 128, 128);
}
.feedphort {
	padding-right: 58px;
}
.imgalone {
	background: rgb(255, 255, 255); padding: 2px; border: 1px solid rgb(217, 226, 235); overflow: hidden; margin-right: 3px; float: left; cursor: pointer; max-height: 320px; max-width: 320px;
}
.imgalone:hover {
	border: 1px solid rgb(71, 109, 164);
}
.imglarge {
	padding: 2px; border: 1px solid rgb(217, 226, 235); overflow: hidden; margin-right: 3px; float: left; cursor: pointer; max-width: 255px;
}
.imglarge:hover {
	border: 1px solid rgb(71, 109, 164);
}
.imglarge i {
	overflow: hidden; display: block; _display: inline-block;
}
.imglarge .hor {
	height: auto; overflow: hidden; max-height: 199px; _height: 199px;
}
.imglarge .ver {
	height: auto; overflow: hidden; max-height: 303px; _height: 303px;
}
.imgsmall {
	width: 136px; overflow: hidden; float: left; display: inline-block;
}
.imgsmall img {
	padding: 2px; border: 1px solid rgb(217, 226, 235) !important; height: 95px; margin-bottom: 3px; display: block;
}
.imgsmall a:hover img {
	border: 1px solid rgb(71, 109, 164) !important;
}
.mediaitemrt {
	line-height: 1px; overflow: hidden; font-size: 1px; margin-right: 8px; float: left; position: relative; max-height: 150px; max-width: 120px;
}
.mediaitemrt i {
	background: url("../images/icoplayer.png") no-repeat; left: 2px; width: 35px; height: 26px; bottom: 2px; position: absolute; cursor: pointer;
}
.mediainfort {
	padding-right: 58px; display: table;
}
.mediainfortapplink {
	overflow: hidden; max-height: 145px;
}
.mediawide {
	margin-bottom: 5px; display: block;
}
.linert.mediainfort {
	padding-left: 8px; border-left-color: rgb(204, 204, 204); border-left-width: 2px; border-left-style: solid;
}
.titnamert {
	font-weight: bold; margin-bottom: 3px;
}
.captionrt {
	color: rgb(128, 128, 128); margin-bottom: 3px;
}
.usernameshare {
	color: rgb(128, 128, 128); margin-bottom: 3px;
}
.desrt {
	color: rgb(128, 128, 128);
}
.icoarrfeed {
	background-position: -240px -602px; width: 9px; height: 5px; overflow: hidden; margin-left: 15px; display: block;
}
.actlinkrt {
	line-height: 16px; margin-bottom: 5px;
}
.sharefeed.actlinkrt {
	margin-top: 7px;
}
.likelink {
	background-position: left -455px; padding-left: 20px;
}
.likelinkgrey {
	background-position: left -455px; padding-left: 20px;
}
.icodot {
	background-position: -152px -34px; margin: 0px 5px; width: 3px; height: 11px; display: inline-block;
}
.comlink {
	background-position: 0px -311px; padding-left: 20px;
}
.emofeed {
	background-position: -96px 0px; width: 22px; height: 21px; margin-right: 5px; float: right;
}
.ctnfont {
	width: 22px; height: 21px; margin-right: 7px; float: right; display: block;
}
.icn_fontviet {
	background-position: -96px -144px; width: 22px; height: 21px; margin-right: 0px; vertical-align: -4px;
}
.icn_fonteng {
	background-position: -96px -176px; width: 22px; height: 21px; margin-right: 0px; vertical-align: -4px;
}
.icomediafeed {
	background: url("../images/icoplayer.png") no-repeat; left: 2px; width: 35px; height: 26px; bottom: 2px; position: absolute; cursor: pointer;
}
.bxcomment {
	margin: 5px 58px 0px 0px; display: block;
}
.rowcomment {
	background: rgb(240, 243, 247); padding: 5px; overflow: hidden; margin-bottom: 1px; border-bottom-color: rgb(234, 239, 244); border-bottom-width: 1px; border-bottom-style: solid; display: block; _height: 1%;
}
.wid.rowcomment {
	padding: 5px 8px;
}
.cmtwid.rowcomment {
	padding: 5px 8px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.rowcommentlt {
	width: 32px; float: left;
}
.rowcommentlt a {
	display: block;
}
.rowcommentrt {
	overflow: hidden; margin-right: 20px; margin-left: 37px; display: block;
}
.rowcommentrt img {
	vertical-align: -6px;
}
.rowcommentrtwid {
	padding-right: 20px; margin-left: 37px; display: block;
}
.rowcommentrtwid img {
	vertical-align: -6px;
}
.bxwrtcmt {
	background: rgb(255, 255, 255); padding: 3px 4px; border: 1px solid rgb(217, 226, 235); margin-right: 0px;
}
.tmpcmt {
	height: 20px; color: rgb(136, 136, 136); cursor: text;
}
.rowcommentrt textarea {
	padding: 0px !important; border: currentColor; width: 100%; line-height: 13px; overflow: hidden; min-height: 48px; _width: 98%; resize: none;
}
.bxcmtend {
	height: 20px; padding-top: 5px; display: block; _overflow: hidden;
}
.wid.bxcmtend {
	padding-top: 8px;
}
.tipcmtend {
	color: rgb(128, 128, 128); padding-left: 37px; float: left;
}
.btncmtend {
	float: right;
}
.feedviewmore {
	background: rgb(241, 247, 250); margin: 15px; padding: 7px 15px; border: 1px solid rgb(216, 223, 234); height: 1%; overflow: hidden; font-size: 12px; font-weight: bold; cursor: pointer;
}
.feedviewmore:hover {
	background: rgb(217, 226, 235);
}
.feedviewmorelt {
	background-position: 0px -292px; width: 45%; padding-left: 16px; float: left;
}
.feedviewmorert {
	width: 50%; text-align: right; line-height: 16px; float: right;
}
.topage {
	background-position: 4px -18px; float: right;
}
.moreloading {
	background: url("../images/load_small.gif") no-repeat 0px 0px; width: 16px; height: 11px; vertical-align: middle; display: inline-block;
}
.ctnloadingtop {
	padding: 10px 0px; text-align: center; display: none;
}
.icovip {
	width: 16px; height: 16px; margin-right: 5px; vertical-align: middle; display: inline-block; background-image: url("../images/ico_fam-1.05.gif"); background-repeat: no-repeat;
}
.vipstar.icovip {
	background-position: -1px -1px;
}
.vipbiz.icovip {
	background-position: -1px -171px;
}
.vipcommunity.icovip {
	background-position: 0px -633px;
}
.vipstargrey.icovip {
	background-position: -1px -870px; margin-top: -4px;
}
.vipbizgrey.icovip {
	background-position: -21px -870px;
}
.vipcommunitygrey.icovip {
	background-position: -40px -870px; margin-top: -2px;
}
.disboxfed {
	margin-right: 20px;
}
.heightcmtdisbox {
	
}
.closedisbox {
	background-position: -52px -143px; width: 18px; height: 16px; float: right; display: block;
}
.closedisbox:hover {
	background-position: -72px -143px;
}
ul.becomefrdfed {
	overflow: hidden; margin-top: 5px; display: block;
}
ul.becomefrdfed li {
	margin-right: 2px; float: left; display: inline;
}
ul.becomefrdfed li img {
	background: rgb(240, 243, 247); width: 32px; height: 32px;
}
.disbox_notfound {
	margin: 0px 0px 10px 50px;
}
.disbox_notfound p.titnotfound {
	font-size: 14px; font-weight: bold; margin-bottom: 5px;
}
.icodisbox_notfound {
	background-position: -35px -603px; width: 16px; height: 13px; margin-right: 5px; vertical-align: middle; display: inline-block;
}
#likeboxcontent {
	display: block; position: relative;
}
.listMember {
	height: 325px; position: relative;
}
.listMember ul.listitem {
	margin: -16px -8px 8px 0px; width: auto; overflow: hidden; padding-right: 6px; display: block;
}
.listMember li {
	height: 1%; padding-top: 8px; margin-top: 7px; border-top-color: rgb(234, 239, 244); border-top-width: 1px; border-top-style: solid; display: block;
}
.listMember li:first-child {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.listMember li .avatar {
	width: 42px !important; height: 42px !important; margin-right: 8px; float: left; position: relative;
}
.listMember li .avatar img {
	width: 42px; height: 42px !important;
}
.listMember li .info {
	margin: 12px 0px 0px 50px;
}
.listMember li .info a {
	width: 150px; overflow: hidden; display: block; white-space: nowrap; text-overflow: ellipsis;
}
.listMember li .info .name {
	width: 176px; float: left;
}
.listMember li .makefr {
	background-position: -273px -233px; width: 73px; height: 25px; overflow: hidden; margin-top: 15px; float: left;
}
.addfrbtn {
	background: url("../images/addfr_popup.png") no-repeat; display: block;
}
.fricn {
	background: url("../images/addfr_popup.png") no-repeat; display: block;
}
.sentreq {
	background: url("../images/addfr_popup.png") no-repeat; display: block;
}
.addfrbtn {
	width: 74px; height: 23px; margin-top: 7px; margin-right: 15px; float: right;
}
.frv {
	margin: 8px 17px 0px 0px; color: rgb(119, 119, 119); font-weight: bold; float: right;
}
.fricn {
	background-position: -5px -27px; width: 12px; height: 9px; margin-top: 5px; margin-right: 5px; float: left;
}
.addfrbtn:hover {
	background-position: -76px 0px;
}
.sentreq {
	background-position: -22px -23px; width: 18px; height: 15px; vertical-align: -3px; float: left; display: block;
}
.hBtnC {
	border: 1px solid rgb(230, 235, 239); background-color: rgb(244, 247, 249);
}
.padtitfed {
	padding: 0px 5px;
}
.ctntitfed {
	height: 1%; overflow: visible; padding-bottom: 5px; margin-top: 10px;
}
.ctntitfed_noline {
	height: 1%; margin-top: 10px;
}
.padtitfed {
	padding: 0px 5px;
}
.txtphotostt {
	margin-top: 10px; display: inline-block;
}
.newact {
	background: rgb(245, 245, 245); border-radius: 2px; height: 25px; text-align: center; color: rgb(71, 109, 164); line-height: 25px; font-weight: bold; margin-top: 10px; cursor: pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.newact:hover {
	background: rgb(226, 226, 226);
}
.dynamic_counter {
	margin: 0px 2px; padding: 0px 2px; border-radius: 2px; color: rgb(255, 255, 255); line-height: 14px; font-size: 10px; font-style: normal; font-weight: bold; vertical-align: 1px; background-color: rgb(217, 81, 78); -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.iconewact {
	background-position: -276px -138px; width: 9px; height: 5px; margin-left: 5px; vertical-align: 1px; display: inline-block;
}
.tabfeed.dynamic_counter {
	top: -8px; right: 2px; text-indent: 0px; position: absolute; z-index: 12;
}
.countercontfeed {
	color: rgb(217, 81, 78);
}
.rowmore {
	padding: 7px 15px; text-align: center; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 20px; border-top-color: rgb(216, 223, 234); border-top-width: 1px; border-top-style: solid; display: block; background-color: rgb(241, 247, 250);
}
.rowmore:hover {
	padding: 7px 15px; text-align: center; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 20px; border-top-color: rgb(216, 223, 234); border-top-width: 1px; border-top-style: solid; display: block; background-color: rgb(241, 247, 250);
}
.rowmore .arrow_icn {
	background-position: -176px -80px; width: 9px; height: 5px; font-size: 0px; margin-right: 5px; vertical-align: middle; display: inline-block;
}
.reprinted {
	background: rgb(247, 252, 255); margin: 0px 58px 8px 0px; padding: 8px 8px 3px; border: 1px solid rgb(224, 237, 245); display: block; min-height: 37px; _display: inline-block;
}
.reprinted_lt {
	width: 32px; margin-right: 8px; float: left;
}
.reprinted_rt {
	margin-left: 40px;
}
.reprinted_boss {
	overflow: hidden; margin-bottom: 5px;
}
.reprinted_boss img {
	vertical-align: -6px;
}
.sharefeed_form {
	margin: -8px -8px 10px; padding: 10px 8px; border-bottom-color: rgb(200, 212, 229); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(234, 239, 244);
}
.sharefeed_form .txthead {
	padding: 0px 0px 8px; line-height: normal; font-size: 12px;
}
.sharefeed_form .emofeed {
	margin: 0px -4px 0px 0px; float: right;
}
.sharefeed_form .useravt {
	margin-right: 8px; float: left;
}
.sharefeed_form .ftextarea {
	padding: 3px; border: 1px solid rgb(142, 165, 188); box-shadow: 0px 1px 0px #fff; background-color: rgb(255, 255, 255);
}
.sharefeed_form .textarea_feed {
	margin: 0px; padding: 0px; border: 0px currentColor; width: 100%; height: 42px; color: rgb(51, 51, 51); font-size: 12px; overflow-y: auto; resize: none;
}
.sharedf_excerpt {
	padding-bottom: 10px; margin-bottom: 10px; border-bottom-color: rgb(234, 239, 244); border-bottom-width: 1px; border-bottom-style: solid;
}
.sharedf_excerpt .attachrt {
	margin: 0px;
}
.whoshared {
	padding-bottom: 5px;
}
.whoshared .txthead {
	padding: 0px 0px 8px; color: rgb(102, 102, 102); font-weight: bold;
}
.whoshared ul {
	height: 35px;
}
.whoshared li {
	float: left; display: inline;
}
.whoshared li a:hover {
	text-decoration: none;
}
.whoshared li img {
	margin: 0px 2px; width: 35px; height: 35px; vertical-align: bottom;
}
.mediainfortshare {
	display: table;
}
.mediainfortshare .desrt {
	vertical-align: -6px;
}
.imgsharefeed {
	max-width: 100px;
}
.titnamertshare {
	font-size: 12px; font-weight: bold;
}
.nolinetop {
	padding-top: 0px; margin-top: 0px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.feed_notfound {
	margin-bottom: 5px;
}
.feed_notfound p.titnotfound {
	color: rgb(91, 91, 91); font-size: 13px; font-weight: bold; margin-bottom: 4px;
}
.apphoto {
	color: rgb(255, 255, 255); position: relative;
}
.bginterphoto {
	background: rgb(0, 0, 0); padding: 3px 5px; top: 3px; right: 3px; font-size: 14px; filter: alpha(opacity=50); position: absolute; opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5;
}
.marinterphoto {
	margin-right: 5px;
}
.icophotofed {
	width: 17px; height: 16px; margin-right: 3px; vertical-align: -2px; display: inline-block;
}
.likephotofed.icophotofed {
	background-position: 0px -34px;
}
.cmtphotofed.icophotofed {
	background-position: -25px -34px;
}
.bgicophotogif {
	background-position: -42px 0px; left: 44%; top: 41%; width: 40px; height: 40px; position: absolute;
}
a.imgalone:hover .bgicophotogif {
	display: none;
}
.arrowtabfeed {
	background-position: -17px -52px; width: 9px; height: 7px; margin-left: 5px; display: inline-block;
}
.reload {
	background-position: 0px -47px; width: 14px; height: 18px; margin-right: 3px; vertical-align: -2px; display: inline-block;
}
ul.tabfeed {
	width: 567px; height: 26px; float: left;
}
ul.tabfeed li {
	height: 26px; text-indent: -9999px; float: left; display: block; position: relative; cursor: pointer; background-image: url("../images/sprt_tabfeed_1.02.png"); background-repeat: no-repeat;
}
ul.tabfeed li.news {
	width: 68px;
}
ul.tabfeed li.friend {
	background-position: -68px 0px; width: 60px;
}
ul.tabfeed li.photo {
	background-position: -128px 0px; width: 60px;
}
ul.tabfeed li.blog {
	background-position: -188px 0px; width: 52px;
}
ul.tabfeed li.link {
	background-position: -240px 0px; width: 49px;
}
ul.tabfeed li.music {
	background-position: -289px 0px; width: 54px;
}
ul.tabfeed li.video {
	background-position: -343px 0px; width: 58px;
}
ul.tabfeed li.appstore {
	background-position: -401px 0px; width: 82px;
}
ul.tabfeed li.interest {
	background-position: -483px 0px; width: 84px;
}
ul.tabfeed li a {
	width: 100%; height: 26px; float: left; display: block;
}
ul.tabfeed li.news:hover {
	background-position: 0px -40px;
}
ul.tabfeed li.current.news {
	background-position: 0px -40px;
}
ul.tabfeed li.friend:hover {
	background-position: -68px -40px;
}
ul.tabfeed li.current.friend {
	background-position: -68px -40px;
}
ul.tabfeed li.photo:hover {
	background-position: -128px -40px;
}
ul.tabfeed li.current.photo {
	background-position: -128px -40px;
}
ul.tabfeed li.blog:hover {
	background-position: -188px -40px;
}
ul.tabfeed li.current.blog {
	background-position: -188px -40px;
}
ul.tabfeed li.link:hover {
	background-position: -240px -40px;
}
ul.tabfeed li.current.link {
	background-position: -240px -40px;
}
ul.tabfeed li.music:hover {
	background-position: -289px -40px;
}
ul.tabfeed li.current.music {
	background-position: -289px -40px;
}
ul.tabfeed li.video:hover {
	background-position: -343px -40px;
}
ul.tabfeed li.current.video {
	background-position: -343px -40px;
}
ul.tabfeed li.appstore:hover {
	background-position: -401px -40px;
}
ul.tabfeed li.current.appstore {
	background-position: -401px -40px;
}
ul.tabfeed li.interest:hover {
	background-position: -483px -40px;
}
ul.tabfeed li.current.interest {
	background-position: -483px -40px;
}
ul.catefeed li .tabfeedlv2 {
	background: rgb(232, 232, 232); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(206, 206, 206) rgb(206, 206, 206) currentColor; top: 25px; right: 0px; position: absolute; z-index: 999; max-width: 200px; box-shadow: 2px 2px 2px #dedede; -moz-box-shadow: 2px 2px 2px #dedede; -webkit-box-shadow: 2px 2px 2px #dedede;
}
ul.catefeed li .tabfeedlv2 a {
	border-width: 1px medium; border-style: solid none; border-color: rgb(245, 245, 245) currentColor rgb(206, 206, 206); padding: 0px 5px 0px 10px; color: rgb(85, 85, 85); line-height: 25px; text-indent: 0px; font-weight: bold; vertical-align: bottom; display: block; white-space: nowrap; min-height: 25px; min-width: 95px; max-width: 200px;
}
ul.catefeed li .tabfeedlv2 a span {
	margin: 6px 0px 0px; text-align: right; right: 2px; text-indent: 0px; float: right; position: absolute;
}
ul.catefeed li .tabfeedlv2 a:hover {
	background: rgb(252, 252, 252); text-decoration: none; cursor: pointer;
}
ul.catefeed li .tabfeedlv2 a.current {
	background: rgb(255, 255, 255); color: rgb(85, 85, 85); border-bottom-color: rgb(206, 206, 206); border-bottom-width: 1px; border-bottom-style: solid; cursor: text;
}
ul.catefeed li .tabfeedlv2 a.current:hover {
	background: rgb(255, 255, 255); color: rgb(85, 85, 85); border-bottom-color: rgb(206, 206, 206); border-bottom-width: 1px; border-bottom-style: solid; cursor: text;
}
.txtnotefeed {
	margin: 10px 0px; padding: 0px 13px; color: rgb(85, 85, 85); line-height: 30px; font-size: 14px; background-color: rgb(245, 245, 245);
}
ul.catefeed {
	float: left; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}
ul.catefeed li {
	float: left; display: block; position: relative;
}
.radius_lt {
	border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px;
}
.radius_lt a.current {
	border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px;
}
.radius_rt {
	border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px;
}
.radius_rt a.current {
	border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px;
}
ul.catefeed li a {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(206, 206, 206) currentColor rgb(206, 206, 206) rgb(206, 206, 206); padding: 0px 15px; color: rgb(85, 85, 85); line-height: 24px; font-weight: bold; display: block;
}
ul.catefeed li a:hover {
	background: rgb(252, 252, 252); text-decoration: none;
}
ul.catefeed li a.current {
	background: rgb(93, 168, 209); color: rgb(255, 255, 255); border-bottom-color: rgb(45, 140, 192); border-bottom-width: 1px; border-bottom-style: solid; cursor: text;
}
ul.catefeed li a.radius_rt {
	border-right-color: rgb(206, 206, 206); border-right-width: 1px; border-right-style: solid;
}
ul.profile.catefeed li a {
	padding: 0px 10px;
}
ul.catefeed li .tabfeedlv2 a {
	text-align: left; position: relative;
}
.newsmesnoti {
	background-position: -90px 0px; padding: 16px 15px 10px 5px; left: 102px; width: 32px; height: 25px; text-align: center; color: rgb(255, 255, 255); font-size: 13px; display: block; position: absolute; z-index: 10;
}
.newsmesnoti:hover {
	background-position: -148px 0px;
}
.op2.newsmesnoti {
	background-position: -90px -55px; padding: 16px 5px 10px 15px; left: 102px; bottom: 100px;
}
.op2.newsmesnoti:hover {
	background-position: -148px -55px;
}
.newsmesnoti:hover {
	text-decoration: none;
}
#fcontent {
	
}
.feed-banner-event {
	margin-top: 10px; display: block;
}
.ticketfrbox {
	padding: 8px;
}
.ticketfrbox .frv {
	padding: 3px 5px; border: 1px solid rgb(204, 204, 204); float: left;
}
.sggpage .sggfleft {
	width: 128px; height: 128px; float: left;
}
.sggpage .sggfleft img {
	width: 120px; height: 120px; background-color: rgb(255, 255, 255);
}
.sggpage .sggfright {
	margin: 0px 35px 0px 138px;
}
.sggpage .actlinkrt {
	padding-top: 5px;
}
.ftxttitle {
	margin-right: 98px;
}
.sggp_counter {
	margin-right: 98px;
}
.ftxttitle {
	color: rgb(51, 51, 51); line-height: normal; padding-bottom: 5px; font-size: 12px; font-weight: bold;
}
.ftxttitle a {
	color: rgb(51, 51, 51);
}
.sggp_counter {
	height: 25px; color: rgb(102, 102, 102); font-size: 12px;
}
.sggp_counter .counter_item {
	float: left;
}
.sggp_counter .fp_fancounter {
	color: rgb(191, 85, 0);
}
.sggp_counter em.devidedot {
	margin: 9px 10px 0px; width: 2px; height: 2px; float: left; display: inline-block; background-color: rgb(136, 136, 136);
}
.sggp_desc {
	color: rgb(136, 136, 136); font-size: 11px;
}
.sggpage .sggp_actbtn {
	margin: 12px 0px 0px; float: right;
}
.sggpage .sggp_actbtn:hover {
	margin: 12px 0px 0px; float: right;
}
.sggp_actbtn {
	background: rgb(255, 255, 255); padding: 0px 5px; border-radius: 2px; border: 1px solid rgb(192, 192, 192); height: 22px; color: rgb(51, 51, 51); line-height: 22px; font-size: 11px; font-weight: bold; text-decoration: none; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}
.sggp_actbtn:hover {
	background: rgb(255, 255, 255); padding: 0px 5px; border-radius: 2px; border: 1px solid rgb(192, 192, 192); height: 22px; color: rgb(51, 51, 51); line-height: 22px; font-size: 11px; font-weight: bold; text-decoration: none; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}
.sggp_actbtn .icn12x12 {
	vertical-align: -2px;
}
.sggp_recentmems {
	height: 30px; padding-top: 8px;
}
.sggp_recentmems li {
	margin-right: 3px; float: left; display: inline-block;
}
.sggp_recentmems li img {
	border-radius: 2px; width: 30px; height: 30px;
}
.sggfeed .feedtpl .feedlt {
	width: 40px; float: left;
}
.sggfeed .feedtpl .feedlt img {
	width: 40px;
}
.sggfeed .feedrt {
	margin-left: 48px;
}
.sggfeed .feedtpl {
	padding: 8px 0px 0px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.sggfeed .messagert {
	margin: 0px 0px 5px; color: rgb(102, 102, 102); font-size: 11px;
}
.sggfeed .sggp_counter {
	margin: 0px; height: 28px;
}
.sggfeed .sggp_counter .sggp_actbtn {
	margin-top: -1px; float: right;
}
.app_tinystar {
	width: 69px; height: 12px; margin-top: 2px; display: inline-block; background-image: url("../images/app_rankingstar.png"); background-repeat: no-repeat;
}
.appstar_0.app_tinystar {
	background-position: 0px -126px;
}
.appstar_1.app_tinystar {
	background-position: 0px -144px;
}
.appstar_2.app_tinystar {
	background-position: 0px -162px;
}
.appstar_3.app_tinystar {
	background-position: 0px -180px;
}
.appstar_4.app_tinystar {
	background-position: 0px -198px;
}
.appstar_5.app_tinystar {
	background-position: 0px -216px;
}
