#header {
	margin: 0px auto; left: 0px; top: 0px; width: 100%; position: fixed; z-index: 899;
}
.zingheader p {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.zingheader ul {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.zingheader li {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.zingheader ol {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.zingheader form {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.zingheader label {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.zingheader img {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.zingheader a {
	
}
.zingheader {
	width: 100%; color: rgb(255, 255, 255); font-family: Tahoma,Helvetica,Verdana,Arial; font-size: 11px; text-decoration: none;
}
.zingmain {
	margin: 0px auto; width: 980px; position: relative;
}
.zingtop {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: repeat-x;
}
.zingcomponent {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: repeat-x;
}
ul.zingtab li a.selected {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: repeat-x;
}
.zingsearch {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: no-repeat;
}
.zingbtnsearch {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: no-repeat;
}
.zingicohome a {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: no-repeat;
}
.zmp3_upload_btn {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: no-repeat;
}
.quikupdatestt_btn {
	background-image: url("../images/header/zing_imgsprt-1.03.gif"); background-repeat: no-repeat;
}
.zingtop {
	background-position: 0px -96px;
}
.zingtop {
	height: 35px;
}
.zinglogo a {
	height: 35px;
}
.zingsearch {
	height: 35px;
}
.zingborder {
	height: 35px;
}
.zingborderinner {
	height: 35px;
}
.zingfamily {
	height: 35px;
}
.zingheader {
	min-width: 980px;
}
.zingtop {
	min-width: 980px;
}
.zingcomponent {
	min-width: 980px;
}
.zinglogo {
	width: 145px; overflow: hidden; float: left;
}
.zinglogo a {
	width: 145px; display: block; background-image: url("../images/header/zing_logos-1.03.gif"); background-repeat: no-repeat;
}
.zhome_header .zinglogo a {
	
}
.zme_header .zinglogo a {
	background-position: 0px -35px;
}
.zmp3_header .zinglogo a {
	background-position: 0px -70px;
}
.znews_header .zinglogo a {
	background-position: 0px -105px;
}
.zlive_header .zinglogo a {
	background-position: 0px -140px;
}
.zingsearch {
	width: 378px; float: left;
}
input.zingbxsearch {
	font: 12px/26px Tahoma, Arial; margin: 5px 3px; padding: 0px 5px; border: 0px currentColor; width: 328px; height: 24px; color: rgb(100, 100, 100); float: left; font-size-adjust: none; font-stretch: normal;
}
input.zingbxsearch {
	line-height: normal;
}
.zingbtnsearch {
	margin: 3px 0px 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; width: 33px; height: 28px; text-indent: -9999px; overflow: hidden; float: left; cursor: pointer; background-color: transparent; -webkit-appearance: none;
}
.zhome_header .zingbtnsearch {
	background-position: -34px -48px;
}
.zme_header .zingbtnsearch {
	background-position: 0px -48px;
}
.znews_header .zingbtnsearch {
	background-position: -68px -48px;
}
.zmp3_header .zingbtnsearch {
	background-position: -102px -48px;
}
.zlive_header .zingbtnsearch {
	background-position: -136px -48px;
}
.zingfamily {
	width: 180px; text-align: right; line-height: 35px; float: left;
}
ul.zingtab {
	float: right;
}
ul.zingtab li {
	list-style: none; padding: 0px 3px; float: left;
}
ul.zingtab li a {
	color: rgb(255, 255, 255); font-size: 13px; font-weight: bold; text-decoration: none; float: left; white-space: nowrap;
}
ul.zingtab li a span {
	padding: 0px 1px; display: block;
}
ul.zingtab li a strong {
	padding: 0px 8px; display: block;
}
ul.zingtab li a:hover {
	color: rgb(255, 255, 255); text-decoration: underline;
}
ul.zingtab li a.selected {
	background-position: 0px -135px; border-right-color: rgb(60, 61, 62); border-left-color: rgb(60, 61, 62); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
ul.zingtab li a.selected span {
	padding: 0px; border-right-color: rgb(0, 0, 0); border-left-color: rgb(0, 0, 0); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
ul.zingtab li a.selected strong {
	padding: 0px 7px; border-right-color: rgb(96, 96, 96); border-left-color: rgb(96, 96, 96); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.zingarrowuser {
	background-image: url("../images/header/zinguser_icnsprt-1.03.gif"); background-repeat: no-repeat;
}
.ntbtn {
	background-image: url("../images/header/zinguser_icnsprt-1.03.gif"); background-repeat: no-repeat;
}
.zinguser {
	width: 267px; text-align: right; font-family: Tahoma,Arial; font-size: 11px; float: right;
}
.zingpersonal {
	background-position: 0px -63px; width: 110px; height: 34px; float: right; display: block; position: relative; cursor: pointer;
}
.zingpersonal .zingborder {
	display: block;
}
.zingpersonal .zingborderinner {
	padding: 0px 5px; text-align: left; display: block;
}
.zingpersonal .zingborderinner a {
	text-decoration: none;
}
.zingpersonal .zingborderinner a:hover {
	text-decoration: none;
}
.zingpersonal .zingavtuser {
	padding: 1px; border-radius: 2px; border: 1px solid rgb(156, 156, 156); width: 20px; height: 20px; margin-top: 6px; margin-right: 8px; float: left; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.zingpersonal .zingavtuser img {
	width: 20px; height: 20px;
}
.zingpersonal .zingnameuser {
	width: 55px; color: rgb(230, 230, 230); line-height: 35px; overflow: hidden; float: left; display: block;
}
.zingpersonal .zingarrowuser {
	background-position: -94px 0px; width: 12px; height: 8px; margin-top: 14px; float: right; display: inline;
}
.zingpersonal .selected.zingborder {
	border-right-color: rgb(53, 93, 152); border-left-color: rgb(53, 93, 152); border-right-width: 2px; border-left-width: 2px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.zingpersonal .selected.zingborder .zingborderinner {
	padding: 0px 3px;
}
.zingpersonal .selected.zingborder .zingnameuser {
	color: rgb(52, 52, 52);
}
.zingpersonal .selected.zingborder .zingavtuser {
	padding: 1px; border: 1px solid rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.zingpersonal .selected.zingborder .zingarrowuser {
	background-position: -105px 0px;
}
.zingaccuser {
	padding-top: 3px; padding-right: 10px; float: right; position: relative;
}
.ntbtn {
	margin: 5px 0px 0px 10px; width: 27px; height: 24px; float: left; display: inline; position: relative; cursor: pointer;
}
.zingnotify.ntbtn {
	
}
.hover.zingnotify.ntbtn {
	background-position: 0px -34px;
}
.zingnotify.ntbtn:hover {
	background-position: 0px -34px;
}
.selected.zingnotify.ntbtn {
	background-position: 0px -68px;
}
.zingmessage.ntbtn {
	background-position: -31px 0px;
}
.hover.zingmessage.ntbtn {
	background-position: -31px -34px;
}
.zingmessage.ntbtn:hover {
	background-position: -31px -34px;
}
.selected.zingmessage.ntbtn {
	background-position: -31px -68px;
}
.zingmakefrd.ntbtn {
	background-position: -62px 0px;
}
.hover.zingmakefrd.ntbtn {
	background-position: -62px -34px;
}
.zingmakefrd.ntbtn:hover {
	background-position: -62px -34px;
}
.selected.zingmakefrd.ntbtn {
	background-position: -62px -68px;
}
.zingaccuser .zingcounter {
	background: rgb(255, 1, 0); margin: 0px; padding: 0px 2px 1px; border-radius: 2px; top: -2px; text-align: center; right: -6px; color: rgb(255, 255, 255); line-height: 14px; font-size: 10px; font-weight: bold; white-space: nowrap; position: absolute; cursor: pointer; min-width: 14px; _width: 14px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.overlap {
	background: rgb(255, 255, 255); top: -2px; height: 2px; right: 0px; line-height: 2px; overflow: hidden; position: absolute; z-index: 600;
}
.notify.overlap {
	left: 71px;
}
.message.overlap {
	left: 108px;
}
.friend.overlap {
	left: 145px;
}
.zingaccuser .overlap {
	width: 23px;
}
.zingaccuser .boxshadow_popup {
	top: 24px; width: 300px; z-index: 600; cursor: default;
}
.zingaccuser .notify.boxshadow_popup {
	right: -202px;
}
.zingaccuser .message.boxshadow_popup {
	right: -165px;
}
.zingaccuser .friend.boxshadow_popup {
	right: -128px;
}
.ntpopup_head {
	padding: 5px 8px; color: rgb(51, 51, 51); font-size: 12px; border-bottom-color: rgb(222, 229, 239); border-bottom-width: 1px; border-bottom-style: solid;
}
.zme_notify {
	padding: 5px; height: 1%; color: rgb(51, 51, 51); text-decoration: none; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(222, 229, 239); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block;
}
.zme_notify:hover {
	background: url("../images/header/notif_hover.jpg") repeat-x 0px 0px; text-decoration: none; border-top-color: rgb(200, 212, 229); border-bottom-color: rgb(200, 212, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; cursor: pointer;
}
.zme_notify .zme-notify-fr-name {
	color: rgb(71, 109, 164); font-weight: bold;
}
.zme_notify .zme-notify-fr-name a {
	color: rgb(71, 109, 164); text-decoration: none;
}
.zme_notify .zme-notify-fr-name a:hover {
	color: rgb(71, 109, 164); text-decoration: underline;
}
.zme_notify .grey {
	color: rgb(136, 136, 136);
}
.zme_notify .contnotify {
	color: rgb(51, 51, 51); overflow: hidden; margin-top: -3px; margin-left: 18px; display: block;
}
.zme_notify .zme-notify-item-cont {
	overflow: hidden; margin-top: -3px; margin-left: 50px; display: block; _height: 42px;
}
.zme_notify .zme-notify-item-cont .notificon_fam {
	margin-right: 2px; vertical-align: middle;
}
.zme-notify-bottom {
	padding: 5px; height: 22px; line-height: normal; clear: both; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; background-color: rgb(240, 243, 247);
}
.zme-notify-bottom .btn_L3 {
	margin-right: 0px !important; float: right;
}
.zme-notify-bottom .notif_bot_left {
	padding-top: 3px; float: left;
}
.zme-notify-bottom .notif_bot_left a {
	font-weight: bold; margin-right: 8px;
}
.zme-notify-bottom .notif_bot_left a {
	color: rgb(71, 109, 164); text-decoration: none;
}
.zme-notify-bottom .notif_bot_left a:hover {
	color: rgb(71, 109, 164); text-decoration: underline;
}
.zme-notify-bottom .notif_bot_left .lk_bullet {
	color: rgb(71, 109, 164); line-height: 12px; font-size: 13px;
}
.notificon {
	border: currentColor; width: 13px; height: 12px; font-size: 0px; margin-right: 5px; float: left; display: inline-block; background-image: url("http://css.me.zdn.vn/v3/images/zme_icons16x16-1.22.gif");
}
.loading.notificon {
	background: url("http://css.me.zdn.vn/v3/images/load_small.gif") no-repeat center;
}
.notifbox_cont .btn_L5 em {
	font-size: 11px;
}
.notifbox_cont .btn_L3 em {
	font-size: 11px;
}
.zingaccuser .notif_noitem {
	padding: 10px 8px; text-align: center; color: rgb(51, 51, 51); border-bottom-color: rgb(222, 229, 239); border-bottom-width: 1px; border-bottom-style: solid;
}
.zingaccuser .notif_loading {
	background: url("../images/header/loader.gif") no-repeat center; padding: 10px; height: 12px; text-align: center; text-indent: -99999em; border-bottom-color: rgb(222, 229, 239); border-bottom-width: 1px; border-bottom-style: solid;
}
.ntlist {
	height: 402px;
}
.ntlist .zme_notify {
	height: auto;
}
.pmlist .zme_notify .img {
	border: currentColor; width: 42px; height: 42px; float: left;
}
.pmlist .zme_notify .img img {
	width: 42px; height: 42px;
}
.pmlist .zme_notify .pmtxt {
	width: 100%; overflow: hidden; white-space: nowrap;
}
.frdlist .zme_notify:hover {
	color: rgb(51, 51, 51); border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(222, 229, 239); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.frdlist .zme_notify .img {
	border: currentColor; width: 42px; height: 42px; float: left;
}
.frdlist .zme_notify .img img {
	width: 42px; height: 42px;
}
.frdlist .zme-notify-fr-name {
	width: 100%; overflow: hidden; padding-bottom: 3px; font-size: 12px; white-space: nowrap;
}
.frdlist .zme-notify-time {
	
}
.notif_invite_msg {
	
}
.frdlist .zme-notify-time {
	color: rgb(136, 136, 136);
}
.frdlist .zme-notify-item:hover {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(222, 229, 239); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.notif_invite_msg {
	height: 16px; line-height: 16px; overflow: hidden; margin-bottom: 5px; display: block;
}
.accept_btn {
	float: right;
}
.deny_btn {
	float: right;
}
.deny_btn {
	margin-left: 3px;
}
.zingtxtuser {
	text-align: right; color: rgb(255, 255, 255); line-height: 34px;
}
.zingtxtuser a {
	color: rgb(110, 195, 241); text-decoration: none;
}
.zingtxtuser a:hover {
	color: rgb(110, 195, 241); text-decoration: none;
}
.zingtxtuser a:hover strong {
	text-decoration: underline;
}
.zhome_header .zingtxtuser a strong {
	color: rgb(95, 140, 200);
}
.zhome_header .zingtxtuser a:hover strong {
	color: rgb(95, 140, 200);
}
.znews_header .zingtxtuser a strong {
	color: rgb(243, 123, 36);
}
.znews_header .zingtxtuser a:hover strong {
	color: rgb(243, 123, 36);
}
.zingpersonal .boxshadow_popup {
	top: 32px; width: 320px; right: -8px; z-index: 1100;
}
.zingpersonal .overlap {
	width: 106px;
}
.zingpersonal .popup_inner_cont {
	padding: 10px; overflow: hidden;
}
.zingpersonal .popup_inner_cont a {
	color: rgb(71, 109, 164); text-decoration: none;
}
.zingpersonal .popup_inner_cont a:hover {
	color: rgb(1, 84, 141); text-decoration: underline;
}
.zingpersonal .thumb_avatar {
	margin-right: 10px; float: left;
}
.zingpersonal .thumb_avatar img {
	width: 130px; height: 130px;
}
.zingpersonal .acc_user_menu {
	list-style: none; margin-top: -3px; float: left;
}
.zingpersonal .acc_user_menu li {
	list-style: none; padding: 2px 0px; height: 18px; line-height: 15px; font-size: 12px; display: block;
}
.zingpersonal .acc_user_menu li .icn {
	width: 16px; height: 16px; font-size: 0px; margin-right: 5px; vertical-align: middle; display: inline-block; background-image: url("../images/header/acc_icnsprt-1.00.gif");
}
.zingpersonal .note-l {
	width: 16px; height: 16px; font-size: 0px; margin-right: 5px; vertical-align: middle; display: inline-block; background-image: url("../images/header/acc_icnsprt-1.00.gif");
}
.zingpersonal .note-r {
	width: 16px; height: 16px; font-size: 0px; margin-right: 5px; vertical-align: middle; display: inline-block; background-image: url("../images/header/acc_icnsprt-1.00.gif");
}
.icn_profile {
	
}
.icn_privacy {
	background-position: 0px -32px;
}
.icn_editinfo {
	background-position: 0px -16px;
}
.icn_logout {
	background-position: 0px -112px;
}
.icn_zmewallet {
	background-position: 0px -64px;
}
.icn_infoboard {
	background-position: 0px -48px;
}
.icn_friends {
	background-position: 0px -80px;
}
.icn_changepass {
	background-position: 0px -96px;
}
.icn_theme {
	background-position: 0px -161px;
}
.zingpersonal .stt_newupdate {
	margin: 5px -10px 0px; padding: 3px 10px; color: rgb(51, 51, 51); clear: both; font-size: 12px; border-top-color: rgb(213, 220, 226); border-top-width: 1px; border-top-style: solid; display: block;
}
.zingpersonal .stt_date {
	color: rgb(136, 136, 136); font-size: 11px;
}
.zingpersonal .quik_update_sttbox {
	margin: -5px 0px 0px; padding: 10px; background-color: rgb(240, 243, 248);
}
.zingpersonal .quik_update_sttbox .qikstt_txtbox {
	padding: 1px 5px; border: 1px solid rgb(172, 181, 196); width: 220px; height: 19px; color: rgb(136, 136, 136); line-height: 16px; font-family: Tahoma,Arial; font-size: 12px; background-color: rgb(255, 255, 255);
}
.zingpersonal .quik_update_sttbox .quikupdatestt_btn {
	background-position: -208px -58px; width: 50px; height: 22px; text-indent: -9999em; display: block;
}
.zingpersonal .quik_update_sttbox .quikupdatestt_btn:hover {
	background-position: -258px -58px;
}
.zingpersonal .note-l {
	background-position: 0px -128px; margin: 0px 2px; width: 16px; height: 16px;
}
.zingpersonal .note-r {
	background-position: 0px -144px; margin: 0px 2px; width: 16px; height: 16px;
}
.zingcomponent {
	background-position: 0px -174px; height: 29px; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
.zingicohome a {
	background-position: -174px -48px; margin: 2px 3px 0px 0px; width: 25px; height: 25px; text-indent: -9999px; float: left; display: block; cursor: pointer;
}
ul.zingmenuchild {
	float: left;
}
ul.zingmenuchild li {
	list-style: none; line-height: 29px; font-size: 12px; font-weight: bold; float: left; display: block;
}
ul.zingmenuchild li a {
	padding: 0px 8px; color: rgb(68, 68, 68); text-decoration: none; display: block;
}
ul.zingmenuchild li a:hover {
	background: rgb(255, 255, 255); padding: 0px 7px; text-decoration: none; border-right-color: rgb(218, 218, 218); border-left-color: rgb(218, 218, 218); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
ul.zingmenuchild li:hover > a {
	background: rgb(255, 255, 255); padding: 0px 7px; text-decoration: none; border-right-color: rgb(218, 218, 218); border-left-color: rgb(218, 218, 218); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
ul.zingmenuchild li a.selected {
	background: rgb(255, 255, 255); padding: 0px 7px; text-decoration: none; border-right-color: rgb(218, 218, 218); border-left-color: rgb(218, 218, 218); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.heightpopinvite {
	height: 400px; overflow: auto;
}
.popupinvitefrd {
	width: inherit !important;
}
.friend-item .row {
	margin: 0px; padding: 8px 8px 8px 0px; line-height: 9px; display: block; min-height: 120px;
}
.friend-item .rowtop {
	padding: 5px 0px; height: 1%; border-bottom-color: rgb(234, 239, 243); border-bottom-width: 1px; border-bottom-style: solid; z-index: 0;
}
.friend-item .rowtop .checkbox {
	margin-top: 5px;
}
.friend-item .linkchoose {
	line-height: 14px; font-size: 12px; margin-top: 5px; float: left;
}
.friend-item .checkbox {
	margin: 0px 8px 0px 0px; width: auto; float: left; display: inline-block;
}
.friend-item .linkchoose a {
	margin-top: 5px;
}
.friend-item .maincont {
	width: 70%; float: left; display: inline-block;
}
.friend-item .apps.maincont {
	width: 70%;
}
.friend-item .maincont .avatar {
	margin-right: 8px; float: left; display: inline-block;
}
.friend-item .maincont .cont {
	margin: 0px; padding: 0px; width: 67%; text-align: left; line-height: 14px; overflow: hidden; float: left;
}
.friend-item .maincont .cont .name {
	padding-bottom: 10px; font-size: 12px; font-weight: bold;
}
.friend-item .maincont p {
	line-height: 18px; font-size: 11px;
}
