#friend h2 {
	width: 200px;
}
#friend h2 span {
	margin-right: 7px;
}
#friend .bgedit {
	width: 567px; overflow: hidden;
}
.bfrx {
	background: url("../images/repeat-x.gif") repeat-x 0px -87px; z-index: 999;
}
a.bfrx:hover {
	background-position: 0px -109px; z-index: 999;
}
.sellect-list {
	margin: 0px; padding: 0px; border: 1px solid rgb(170, 193, 209); width: 126px; height: 20px; float: left; position: relative; z-index: 999;
}
.sellect-list .cur {
	padding: 0px 0px 0px 6px; width: 100px; height: 20px; color: rgb(51, 51, 51); text-decoration: none; float: left; display: block;
}
.sellect-list ul {
	padding: 0px; width: 19px; height: 20px; border-left-color: rgb(170, 193, 209); border-left-width: 1px; border-left-style: solid; float: left; z-index: 50;
}
.sellect-list ul.skin {
	background-position: -215px -138px;
}
.sellect-list ul.skin:hover {
	background-position: -238px -138px; overflow: visible; cursor: pointer;
}
.sellect-list ul li {
	left: 0px; top: 20px; margin-left: -9000px; display: block; position: absolute; z-index: 9999;
}
.sellect-list ul li:first-child {
	border-top-color: rgb(170, 193, 209) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.sellect-list ul:hover li {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(170, 193, 209) rgb(170, 193, 209); margin: 0px 0px 0px -108px; width: 126px; display: block; position: relative; z-index: 999;
}
.sellect-list ul:hover li a {
	margin: 0px; padding: 1px 1px 1px 6px; height: 18px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
.sellect-list ul:hover li a:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
.sellect-list ul:hover li:hover > a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.friend-item {
	width: 798px; display: block; position: relative; z-index: 1;
}
.heightpopinvite {
	height: 400px; overflow: auto;
}
.popupinvitefrd {
	width: inherit;
}
.padlt.friend-item {
	width: 783px; padding-left: 15px;
}
.friend-item .row {
	margin: 0px; padding: 8px 0px; height: auto !important; line-height: 9px; display: block; min-height: 120px;
}
.friend-item .rowtop {
	padding: 5px 0px; height: 1%; border-bottom-color: rgb(234, 239, 243); border-bottom-width: 1px; border-bottom-style: solid; z-index: 0;
}
.friend-item .rowtop .checkbox {
	margin-top: 5px;
}
.friend-item .linkchoose {
	line-height: 14px; font-size: 12px; margin-top: 5px; float: left;
}
.friend-item .checkbox {
	margin: 0px 8px 0px 0px; width: auto; float: left; display: inline-block;
}
.friend-item .linkchoose a {
	margin-top: 5px;
}
.friend-item .maincont {
	width: 70%; float: left; display: inline-block;
}
.friend-item .apps.maincont {
	width: 70%;
}
.friend-item .maincont .avatar {
	margin-right: 8px; float: left; display: inline-block;
}
.friend-item .maincont .cont {
	margin: 0px; padding: 0px; width: 65%; text-align: left; line-height: 14px; overflow: hidden; float: left;
}
.friend-item .maincont p {
	line-height: 18px; font-size: 11px;
}
.friend-item .maincont .cont .name {
	padding-bottom: 10px; font-size: 12px; font-weight: bold;
}
.manu {
	text-align: center; margin-top: 30px;
}
.search-row {
	margin-bottom: 12px;
}
.search-row p {
	font-weight: bold;
}
.search-row span {
	width: 110px; color: rgb(85, 85, 85); padding-right: 8px; font-size: 12px; float: left;
}
.search-row .search-adv {
	padding-left: 8px; font-size: 12px; float: left;
}
.search-row input {
	width: 300px; margin-right: 5px;
}
.tit-invite {
	background-position: 0px -40px; width: 16px; height: 16px; margin-right: 6px; float: left;
}
.row-sharelink {
	background: rgb(213, 230, 241); padding: 7px; margin-top: 8px; display: block;
}
input.sharelink {
	background: rgb(255, 255, 255); padding: 4px; border: 1px solid rgb(132, 170, 194); width: 545px !important; color: rgb(85, 85, 85); overflow: hidden; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 11px;
}
.tit_search {
	background-position: 0px -585px; padding-left: 22px;
}
.widthS {
	padding: 10px !important; width: 954px;
}
.col-searchAD {
	padding: 0px 10px 0px 0px; width: 180px; overflow: hidden; float: left; display: inline-block;
}
.col-searchAD .box {
	background: rgb(246, 249, 254); padding: 8px; font-weight: bold;
}
.col-searchAD .box input {
	width: 154px;
}
.selectS {
	margin: 8px 0px; width: 164px; _margin-bottom: 8px;
}
.widthScont {
	width: 536px; padding-right: 10px; display: inline-block; position: relative;
}
.col-left {
	width: 572px; padding-right: 10px; float: left; display: inline-block;
}
.col-right {
	
}
.list-resuft {
	color: rgb(85, 85, 85); line-height: 24px; font-weight: bold; margin-top: 10px;
}
.list-resuft a {
	color: rgb(85, 85, 85); font-weight: bold; text-decoration: none;
}
ul.result {
	padding-left: 14px;
}
ul.result li {
	width: 164px; line-height: 18px; overflow: hidden; padding-bottom: 5px; display: block;
}
ul.result li a {
	color: rgb(71, 109, 164); font-weight: normal;
}
ul.result li a:hover {
	text-decoration: underline;
}
.bgedit {
	background: rgb(255, 255, 255); margin: 0px; padding: 8px 0px; line-height: 24px;
}
.bgedit p {
	line-height: 16px; font-size: 12px;
}
.email-results {
	margin: 0px auto 20px; width: auto; text-align: left;
}
.s1-box {
	background: rgb(255, 255, 255); border: 1px solid rgb(153, 190, 226); display: block; position: relative;
}
.s1-box-title {
	background: rgb(179, 207, 233); padding: 2px 8px; color: rgb(0, 94, 172); font-weight: bold;
}
.s1-box-list {
	padding: 8px; height: 278px; position: relative; overflow-x: hidden; overflow-y: auto;
}
.s2-box-list {
	padding: 8px; height: 278px; position: relative; overflow-x: hidden; overflow-y: auto;
}
.s2-box-list li {
	margin: 4px 0px; width: 100%; color: rgb(128, 128, 128); overflow: hidden; padding-bottom: 8px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; float: left; display: block; _width: 95%;
}
.s2-box-list li input {
	margin: 15px 8px 0px 0px; float: left;
}
.s2-box-list li input.s2 {
	margin: 5px 8px 0px 0px; float: left;
}
.s1-box-list li .avatar {
	width: 42px; height: 42px; margin-right: 5px; float: left; display: block; position: relative;
}
.s2-box-list li .avatar {
	width: 42px; height: 42px; margin-right: 5px; float: left; display: block; position: relative;
}
.s2-box-list li .name {
	color: rgb(51, 51, 51); font-weight: bold;
}
ul.s2-box-list-2 li input {
	margin: 2px 8px 0px 0px; display: inline;
}
ul.s2-box-list-2 li {
	width: 155px; line-height: 16px;
}
.info_popup {
	width: 350px;
}
.p_corner * {
	border-width: 0px 1px; border-style: solid; border-color: rgb(184, 198, 208); height: 1px; line-height: 1px; font-size: 0px; display: block; overflow-y: hidden;
}
.p_corner b {
	margin: 0px 2px; background-color: rgb(184, 198, 208);
}
.p_corner em {
	margin: 0px 1px;
}
.pcontent {
	border-width: 0px 1px; border-style: solid; border-color: rgb(184, 198, 208);
}
.pcontent_inner {
	background: url("../images/f_popup_arrow.gif") no-repeat left 50%; padding: 10px 10px 10px 30px; margin-left: -19px; _position: relative; _height: 1%;
}
.pcontent_inner p {
	padding: 0px 0px 6px;
}
.friend_info {
	width: 320px; overflow: hidden;
}
.info_label {
	width: 65px; padding-right: 5px;
}
.info_list {
	margin-bottom: 12px;
}
.info_list li {
	width: 100%; line-height: 18px; overflow: hidden; vertical-align: bottom;
}
.user_sex {
	padding: 0px !important; width: 14px; height: 29px; text-indent: -9999em; display: block;
}
.female {
	background-position: -320px -568px;
}
.male {
	background-position: -334px -568px;
}
.related_photos img {
	margin-right: 5px;
}
.link-tit {
	overflow: hidden; padding-bottom: 4px; display: block; position: relative;
}
.link-tit a {
	width: auto; height: 20px; text-align: center; overflow: hidden; font-weight: bold; text-decoration: none; margin-right: 5px; float: left; display: block;
}
.link-tit a:hover {
	color: rgb(241, 242, 243);
}
.link-tit a.acti {
	background: rgb(117, 189, 229); color: rgb(255, 255, 255); border-bottom-color: rgb(66, 154, 202); border-bottom-width: 1px; border-bottom-style: solid;
}
.link-tit a.unacti {
	background: rgb(233, 233, 233); color: rgb(85, 85, 85); border-bottom-color: rgb(198, 198, 198); border-bottom-width: 1px; border-bottom-style: solid;
}
.link-tit .txt-fr {
	color: rgb(51, 51, 51); line-height: normal; padding-top: 10px; float: right;
}
.link-tit .txt-fra {
	color: rgb(51, 51, 51); line-height: normal; padding-top: 10px; padding-right: 52px; float: right;
}
.topdot {
	height: 1px; overflow: hidden; border-right-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block;
}
.textinfo span {
	color: rgb(136, 136, 136); padding-right: 10px;
}
.link-rig {
	text-align: right; color: rgb(136, 136, 136); line-height: normal; float: right;
}
.link-riga {
	color: rgb(136, 136, 136); line-height: normal; padding-right: 52px; float: right;
}
.widthP .friend-item .maincont .cont {
	width: 68%;
}
#search-result .friend-item .maincont {
	width: 100%;
}
#search-result .friend-item .maincont .cont {
	width: 57%;
}
.hotbiz_ranking {
	width: 17%; height: auto; padding-top: 20px;
}
.ctnfam {
	height: 16px; overflow: hidden; padding-bottom: 12px;
}
.lineh16 {
	line-height: 16px !important;
}
#search-result .friend-item .row {
	margin: 0px 0px 8px; padding: 0px 0px 8px;
}
.welcome {
	padding-bottom: 8px; font-size: 14px; font-weight: bold; margin-bottom: 10px;
}
.ico-search {
	background-position: -349px -97px; width: 16px; height: 16px; padding-right: 8px; float: left;
}
.ico_avt {
	background-position: -268px -139px; width: 16px; height: 16px; padding-right: 5px; float: left;
}
#welcome h2 {
	padding: 0px; width: 100%;
}
#welcome .friend-item .maincont .cont {
	width: 65%;
}
.bxwlc {
	background: rgb(244, 250, 254); padding: 10px 15px; border-radius: 3px; border: 1px solid rgb(217, 229, 237); font-size: 12px; margin-bottom: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.f12 {
	font-size: 12px;
}
.ctnavt {
	margin-left: 150px;
}
.avtcont {
	width: 130px; margin-right: 10px; float: left;
}
.imgwlc {
	background-image: url("../images/img_wlc.gif"); background-repeat: no-repeat;
}
.avtcpt {
	background-position: -1px -1px; width: 44px; height: 44px; text-indent: -999999px; margin-bottom: 10px; display: block;
}
.wc.avtcpt {
	background-position: -57px 0px;
}
.yahoo {
	background-position: 0px -85px; width: 123px; height: 36px; text-indent: -999999px; margin-bottom: 10px; display: block;
}
.gmail.yahoo {
	background-position: 0px -52px;
}
.titrowlc {
	height: 1%; padding-bottom: 8px; margin-bottom: 0px;
}
.lightgrey {
	color: rgb(184, 184, 184);
}
.grey {
	color: rgb(136, 136, 136);
}
.avtinapp {
	width: 50px; height: 50px; margin-right: 10px; float: left;
}
.colrt_apps {
	width: 18%; text-align: right; color: rgb(136, 136, 136); line-height: normal; float: right;
}
.friend-item .maincont .inviteapp.cont {
	width: 75%;
}
.friend-item .invtapp.row {
	padding: 15px 0px;
}
.search_friend {
	height: 29px; padding-bottom: 5px;
}
.search_friend .srch_icon {
	background-position: -347px -187px; width: 29px; height: 29px; float: left;
}
input.search_frdprofile {
	background-position: -35px -339px; padding: 2px 5px 4px 25px; border: 0px currentColor !important; width: 307px; height: 19px; color: rgb(51, 51, 51); line-height: 18px !important; font-size: 12px !important; margin-bottom: 5px;
}
.fr_actlink {
	height: 20px; padding-top: 5px;
}
.fr_actlink a {
	text-decoration: none; margin-right: 20px;
}
.fr_actlink a:hover {
	text-decoration: none; margin-right: 20px;
}
.fr_actlink a .icn12x12 {
	vertical-align: text-top;
}
.friend_stt {
	overflow: hidden; margin-top: 5px; max-height: 73px;
}
.friend_d {
	padding-top: 5px;
}
ul.results {
	padding-left: 0px;
}
ul.results li {
	width: 164px; line-height: 18px; overflow: hidden; padding-bottom: 5px; display: block;
}
ul.results li a {
	color: rgb(71, 109, 164); font-weight: normal; margin-left: 5px;
}
ul.results li a:hover {
	text-decoration: underline;
}
ul.results li .checkbox {
	margin-top: 3px;
}
.box p {
	margin-bottom: 5px;
}
._fbSubject {
	width: 165px;
}
.ex {
	margin-top: 10px;
}
.backtoprof_btn {
	background: url("../../images/backtoprofile_btn.gif"); width: 157px; height: 24px; text-indent: -9999em; float: right; display: block;
}
.makefrdrowinfo {
	height: 1%; overflow: hidden; margin-bottom: 8px;
}
.txtredmakefrd {
	color: rgb(255, 51, 0);
}
.makefrdrowinfo .avtmakefrd {
	width: 50px; margin-right: 8px; float: left;
}
.makefrdrowinfo .infomakefrd {
	font-size: 12px; margin-left: 58px;
}
textarea.textarea_makefrd {
	padding: 3px 5px; border: 1px solid rgb(170, 193, 209); width: 415px; height: 60px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 5px; resize: none;
}
.friendreq.zmscrollableui_bar {
	bottom: 32px;
}
.friendreq.zmscrollableui_bar .zmscrollableui_gripper {
	min-height: 20px;
}
