ul.holder {
	margin: 0px; padding: 2px 5px 0px; border: 1px solid rgb(132, 150, 186); height: auto !important; overflow: hidden;
}
*:first-child + html ul.holder {
	padding-bottom: 2px;
}
* html ul.holder {
	padding-bottom: 2px;
}
ul.holder li {
	margin: 0px 5px 4px 0px; float: left; list-style-type: none; white-space: nowrap;
}
ul.holder li.bit-box {
	font: 11px/normal "Lucida Grande", "Verdana"; font-size-adjust: none; font-stretch: normal;
}
ul.holder li.bit-input input {
	font: 11px/normal "Lucida Grande", "Verdana"; font-size-adjust: none; font-stretch: normal;
}
ul.holder li.bit-box {
	background: rgb(222, 231, 248); padding: 2px 3px 2px 5px; border-radius: 6px; border: 1px solid rgb(202, 216, 243); color: black; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
ul.holder li.bit-box-focus {
	background: rgb(89, 139, 236); border-color: rgb(89, 139, 236); color: rgb(255, 255, 255);
}
ul.holder li.bit-input input {
	margin: 0px; padding: 3px 0px 2px; outline: 0px; border: 0px currentColor; width: auto; overflow: visible;
}
ul.holder li.bit-input input.smallinput {
	width: 20px;
}
ul.holder {
	margin: 0px !important; width: 400px;
}
ul.holder li.bit-box {
	padding-right: 15px; position: relative; z-index: 1000;
}
#apple-list ul.holder li.bit-box {
	padding-right: 15px; position: relative; z-index: 1000;
}
#apple-list ul.holder li.bit-input {
	margin: 0px;
}
#apple-list ul.holder li.bit-input input.smallinput {
	width: 5px;
}
ul.holder li.bit-hover {
	background: rgb(187, 206, 241); border: 1px solid rgb(109, 149, 224);
}
ul.holder li.bit-box-focus {
	background: rgb(89, 139, 236); border-color: rgb(89, 139, 236); color: rgb(255, 255, 255);
}
ul.holder li.bit-box a.closebutton {
	background: url("../../images/primess/close.gif"); top: 5px; width: 7px; height: 7px; right: 4px; font-size: 1px; display: block; position: absolute;
}
ul.holder li.bit-box a.closebutton:hover {
	background-position: 7px;
}
ul.holder li.bit-box-focus a.closebutton {
	background-position: bottom;
}
ul.holder li.bit-box-focus a.closebutton:hover {
	background-position: bottom;
}
.zmp-auto {
	background: rgb(238, 238, 238); width: 412px; display: none; position: absolute; z-index: 1001;
}
.zmp-auto .default {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(204, 204, 204); padding: 5px 7px; font-family: "Lucida Grande", "Verdana"; font-size: 11px;
}
.zmp-auto ul {
	margin: 0px; padding: 0px; overflow: auto; position: absolute; z-index: 9999;
}
.zmp-auto ul li {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(204, 204, 204); font: 11px/normal "Lucida Grande", "Verdana"; margin: 0px; padding: 5px 12px; list-style-type: none; z-index: 1000; cursor: pointer; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);
}
.zmp-auto ul li em {
	background: rgb(204, 204, 204); font-style: normal; font-weight: bold;
}
.zmp-auto ul li.auto-focus {
	color: rgb(255, 255, 255) !important; background-color: rgb(59, 89, 152) !important;
}
.zmp-auto ul li.auto-focus em {
	
}
.deleted {
	color: rgb(255, 255, 255) !important; background-color: rgb(65, 115, 204) !important;
}
.hidden {
	display: none;
}
#demo ul.holder li.bit-input input {
	padding: 2px 0px 1px; border: 1px solid rgb(153, 153, 153);
}
.ie6fix {
	left: 0px; top: 0px; width: 1px; height: 1px; position: absolute; z-index: 1;
}
.tb-composebox {
	width: 552px; margin-top: 10px; margin-right: 20px; margin-left: 20px;
}
.tb-composebox td {
	padding: 0px !important;
}
.kuiButtonConfirm {
	background: url("http://static.ak.fbcdn.net/rsrc.php/z8/r/ZwXDPgRSd7M.png") 0px -48px rgb(91, 116, 168); border-width: 1px; border-style: solid; border-color: rgb(41, 68, 126) rgb(41, 68, 126) rgb(26, 53, 110); padding: 3px 6px; text-align: center; color: rgb(255, 255, 255); line-height: normal !important; font-size: 13px; text-decoration: none; vertical-align: top; display: inline-block; white-space: nowrap; cursor: pointer;
}
.tb-composebox-title {
	padding: 5px; border: 1px solid rgb(132, 150, 186); width: 465px; height: auto !important; color: rgb(85, 85, 85); font-family: Tahoma,Arial,Verdana,sans-serif; font-size: 11px;
}
.tb-composebox-textcontent {
	padding: 5px; border: 1px solid rgb(132, 150, 186); width: 465px; height: 56px;
}
.tb-composebox-control {
	margin-right: 61px;
}
.tb-composebox-label {
	text-align: right !important; color: rgb(119, 119, 119); padding-right: 3px; font-size: 11px; font-weight: bold; vertical-align: top;
}
.tb-composebox-cancel {
	background: url("../../images/primess/ZwXDPgRSd7M.png") 0px 0px rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(136, 136, 136); padding: 3px 6px; text-align: center; line-height: normal !important; font-size: 13px; text-decoration: none; vertical-align: top; display: inline-block; white-space: nowrap; cursor: pointer;
}
#friendcompose_feed {
	border-bottom-color: rgb(132, 150, 186); border-bottom-width: 1px; border-bottom-style: solid;
}
#friendcompose_feed li {
	background: white; height: 20px; color: black; border-right-color: rgb(132, 150, 186); border-left-color: rgb(132, 150, 186); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.notice {
	text-align: left; color: rgb(119, 119, 119); font-size: 9px;
}
.textalert {
	margin: 1em 0px; text-align: center; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px;
}
