@font-face {
	font-family: Tahoma;
	src: local("Tahoma"), url(https://themes.googleusercontent.com/licensed/font?kit=fixGDLmkHn2iuf0en6vflw) format("embedded-opentype"), url(https://themes.googleusercontent.com/licensed/font?kit=6wlOxevJwmgK45Rl8AEq2g) format("woff");
	font-weight: 400;
	font-style: normal;
}
